
@font-face {
    font-family: "Gordita";
    src: url("../font/gordita-black-webfont.woff2") format("woff2"), url("../font/gordita-black-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: "Gordita";
    src: url("../font/gordita-bold-webfont.woff2") format("woff2"), url("../font/gordita-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Gordita";
    src: url("../font/gordita-medium-webfont.woff2") format("woff2"), url("../font/gordita-medium-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Gordita";
    src: url("../font/gordita-regular-webfont.woff2") format("woff2"), url("../font/gordita-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-weight: 400;
}