<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Genifty || - NFT Marketplace Template</title>
    <meta name="robots" content="noindex">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-style-mode" content="1"> <!-- 0 == light, 1 == dark -->

    <!-- Favicon -->
    
    <link rel="stylesheet" href="static/css/gordita.css">
    <link rel="stylesheet" href="static/css/fontawesome-pro-icons.css">
    <link rel="stylesheet" href="static/css/swiper.css">
    <link rel="stylesheet" href="static/css/unicons.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body class="rt_bg-secondary">

    <!-- start header area -->

    <div class="rts-header-area header-inner-one header--sticky">
        <div class="container-header">
            <div class="row align-items-center ptb_sm--20 padding-controler-header">
                <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12 ">
                    <div class="header-left">
                        <a href="index.html" class="logo">
                            <img src="static/picture/logo-01.svg" alt="NFT_image">
                        </a>
                    </div>
                </div>
                <div class="col-xl-5 d-xl-block d-none">
                    <div class="main-menu-wrapepr">



                        <nav class="mainmenu-nav d-none d-xl-block">
                            <ul class="main-menu">
                                <li class="single-items">
                                    <a class="navmain" href="#">Home</a>
                                    <ul class="submenu">
                                        <li class="single"><a href="index.html">Home page - 01 <i class="feather-home"></i></a></li>
                                        <li class="single"><a href="index-two.html">Home page - 02<i class="feather-home"></i></a></li>
                                        <li class="single"><a href="index-three.html">Home page - 03<i class="feather-home"></i></a></li>
                                        <li class="single"><a href="index-four.html">Home page - 04<i class="feather-home"></i></a></li>
                                        <li class="single"><a href="index-five.html">Home page - 05<i class="feather-home"></i></a></li>
                                        <li class="single"><a href="index-six.html">Home page - 06<i class="feather-home"></i></a></li>
                                    </ul>
                                </li>
                                <li class="single-items">
                                    <a class="navmain" href="#">Pages</a>
                                    <ul class="submenu mega-menu pages">
                                        <li class="mega-menu-1">
                                            <ul class="mega-1">
                                                <li><a href="about.html">About Page<i class="feather-home"></i></a></li>
                                                <li><a href="team.html">Our Team<i class="feather-home"></i></a></li>
                                                <li><a href="team-single.html">Our Team Details<i class="feather-home"></i></a></li>
                                                <li><a href="error.html">Error 404<i class="feather-home"></i></a></li>
                                                <li><a href="ranking.html">Ranking Page<i class="feather-home"></i></a></li>
                                                <li><a href="collectors.html">Collectors<i class="feather-home"></i></a></li>
                                            </ul>
                                            <ul class="mega-1">
                                                <li><a href="wallet.html">Wallet<i class="feather-home"></i></a></li>
                                                <li><a href="create.html">Create Page<i class="feather-home"></i></a></li>
                                                <li><a href="login.html">Login Page<i class="feather-home"></i></a></li>
                                                <li><a href="registration.html">Registration Page<i class="feather-home"></i></a></li>
                                                <li><a href="">Activity<i class="feather-home"></i></a></li>
                                                <li><a href="author.html">Author<i class="feather-home"></i></a></li>
                                            </ul>
                                            <ul class="mega-1">
                                                <li><a href="shop.html">Shop Page<i class="feather-home"></i></a></li>
                                                <li><a href="shop-single.html">Shop Details<i class="feather-home"></i></a></li>
                                                <li><a href="cart.html">Cart Page<i class="feather-home"></i></a></li>
                                                <li><a href="check-out.html">Check Out<i class="feather-home"></i></a></li>
                                                <li><a href="faq.html">FAQ Page<i class="feather-home"></i></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="single-items">
                                    <a class="navmain" href="#">Explore</a>
                                    <ul class="submenu explore">
                                        <li class="single"><a href="explore-one.html">Explore One<i class="feather-home"></i></a></li>
                                        <li class="single"><a href="explore-two.html">Explore Two<i class="feather-home"></i></a></li>
                                        <li class="single"><a href="explore-single.html">Explore Single<i class="feather-home"></i></a></li>
                                    </ul>
                                </li>
                                <li class="single-items">
                                    <a class="navmain" href="#">Blog</a>
                                    <ul class="submenu blog">
                                        <li class="single"> <a href="blog.html">Our Blog</a></li>
                                        <li class="single"> <a href="blog-single.html">Blog single</a></li>
                                    </ul>
                                </li>
                                <li class="single-items off-arrow"><a class="single" href="contact.html">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-8 col-md-8 col-sm-12 justify-content-sm-center d-xsm-flex justify-content-sm-center d-xsm-flex">
                    <div class="header-right">
                        <div class="input-group d-none d-lg-block">
                            <i class="fal fa-search"></i>
                            <input type="text" placeholder="Search Collections">
                        </div>
                        <div class="setting-option rts-icon-list d-block d-lg-none">
                            <div class="icon-box search-mobile-icon">
                                <button><i class="far fa-search"></i></button>
                            </div>
                            <form id="header-search-1" action="#" method="GET" class="large-mobile-blog-search">
                                <div class="rts-search-mobile form-group">
                                    <button type="submit" class="search-button"><i class="far fa-search"></i></button>
                                    <input type="text" placeholder="Search ...">
                                </div>
                            </form>
                        </div>
                        <ul class="icons">
                            <li class="icon user"> <a href="author.html"><i class="far fa-user"></i></a></li>
                            <li class="icon cart-icon-header"> <a href="cart.html"><i class="far fa-shopping-bag"></i></a></li>
                        </ul>
                        <a id="connect-wallet" href="wallet.html" class="rts-btn btn-primary">Connect Wallet</a>
                        <div class="mobile-menu-bar d-block d-xl-none">
                            <div class="hamberger">
                                <button class="hamberger-button">
                                    <i class="fal fa-bars"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ENd Header Area -->

    <!-- start Mobile menue -->


    <!-- mobile menu start -->
    <div class="popup-mobile-menu">
        <div class="inner">
            <div class="header-top">
                <div class="logo logo-custom-css">
                    <a href="index.html"><img src="static/picture/logo-01.svg" alt="_logo"></a>
                </div>
                <div class="close-menu">
                    <button class="close-button">
                        <i class="fal fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- nav style Start -->
            <nav>
                <ul class="main-menu">
                    <li class="single-items rts-dropdown">
                        <a class="navmain" href="#">Home</a>
                        <ul class="submenu">
                            <li class="single"><a href="index.html">Home page - 01 <i class="feather-home"></i></a></li>
                            <li class="single"><a href="index-two.html">Home page - 02<i class="feather-home"></i></a></li>
                            <li class="single"><a href="index-three.html">Home page - 03<i class="feather-home"></i></a></li>
                            <li class="single"><a href="index-four.html">Home page - 04<i class="feather-home"></i></a></li>
                            <li class="single"><a href="index-five.html">Home page - 05<i class="feather-home"></i></a></li>
                            <li class="single"><a href="index-six.html">Home page - 06<i class="feather-home"></i></a></li>
                        </ul>
                    </li>
                    <li class="single-items rts-dropdown">
                        <a class="navmain" href="#">Pages</a>
                        <ul class="submenu pages">
                            <li><a href="about.html">About Page<i class="feather-home"></i></a></li>
                            <li><a href="team.html">Our Team<i class="feather-home"></i></a></li>
                            <li><a href="team-single.html">Our Team Details<i class="feather-home"></i></a></li>
                            <li><a href="error.html">Error 404<i class="feather-home"></i></a></li>
                            <li><a href="cart.html">Cart Page<i class="feather-home"></i></a></li>
                            <li><a href="ranking.html">Ranking Page<i class="feather-home"></i></a></li>
                            <li><a href="wallet.html">Wallet<i class="feather-home"></i></a></li>
                            <li><a href="create.html">Create Page<i class="feather-home"></i></a></li>
                            <li><a href="login.html">Login Page<i class="feather-home"></i></a></li>
                            <li><a href="registration.html">Registration Page<i class="feather-home"></i></a></li>
                            <li><a href="check-out.html">Check Out<i class="feather-home"></i></a></li>
                            <li><a href="">Activity<i class="feather-home"></i></a></li>
                            <li><a href="contact.html">Contact Us<i class="feather-home"></i></a></li>
                            <li><a href="shop.html">Shop Page<i class="feather-home"></i></a></li>
                            <li><a href="shop-single.html">Shop Details<i class="feather-home"></i></a></li>
                            <li><a href="collectors.html">Collectors<i class="feather-home"></i></a></li>
                            <li><a href="author.html">Author<i class="feather-home"></i></a></li>
                        </ul>
                    </li>
                    <li class="single-items rts-dropdown">
                        <a class="navmain" href="#">Explore</a>
                        <ul class="submenu explore">
                            <li class="single"><a href="explore-one.html">Explore One<i class="feather-home"></i></a></li>
                            <li class="single"><a href="explore-two.html">Explore Two<i class="feather-home"></i></a></li>
                        </ul>
                    </li>
                    <li class="single-items rts-dropdown">
                        <a class="navmain" href="#">Blog</a>
                        <ul class="submenu blog">
                            <li class="single"> <a href="blog.html">Our Blog</a></li>
                            <li class="single"> <a href="blog-single.html">Blog single</a></li>
                        </ul>
                    </li>
                    <li class="single-items off-arrow"><a class="navmain" href="contact.html">Contact</a></li>
                </ul>
            </nav>
            <!-- nav style hear End -->
        </div>
    </div>
    <!-- mobile menu end -->
    <!-- end mobile menue -->

    <!-- start BreadCrumb area -->
    <div class="rts-brad-crumb-area breadcrumb-image bg_image">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-inner ptb--130 pt_sm--80 pb_sm--80">
                        <h1 class="title" data-sal-delay="300" data-sal-duration="800" data-sal="slide-up">Activity</h1>
                        <div class="breadcrumb-list">
                            <a href="index.html" data-sal-delay="300" data-sal-duration="800" data-sal="slide-up">Home</a>
                            <span>/</span>
                            <a class="deactive" href="#" data-sal-delay="400" data-sal-duration="800" data-sal="slide-up">Pages</a>
                            <span>/</span>
                            <a class="active" href="#" data-sal-delay="500" data-sal-duration="800" data-sal="slide-up">Activity</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End BreadCrumb area -->

    <!-- ranking of nft creators -->
    <div class="rts-nft-ranking-area rts-section-gap">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-3">
                    <div class="h--100">
                        <ul class="nav nav-pills mb-3 activity-btn-area" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link rts-btn radious-5 btn-sm btn-primary active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Sale</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link rts-btn radious-5 btn-sm btn-primary" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Listing</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link rts-btn radious-5 btn-sm btn-primary" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Offers
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <div class="row">
                                <div class="col-12">
                                    <div class="box-table table-responsive">
                                        <table class="table rts-upcoming-projects">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <span>SL</span>
                                                    </th>
                                                    <th>
                                                        <span>Product</span>
                                                    </th>
                                                    <th>
                                                        <span>Volume</span>
                                                    </th>
                                                    <th>
                                                        <span>Floor Price</span>
                                                    </th>
                                                    <th>
                                                        <span>Owners</span>
                                                    </th>
                                                    <th>
                                                        <span>Items</span>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody class="ranking">
                                                <tr class="color-light">
                                                    <td><span>01.</span></td>
                                                    <td>
                                                        <div class="product-wrapper d-flex align-items-center">
                                                            <a href="javascript:;" class="thumbnail">
                                                                <img src="static/picture/portfolio-01.jpg" alt="Nft_Profile">
                                                            </a>
                                                            <span>Wuality</span>
                                                        </div>
                                                    </td>
                                                    <td><span>2,50,000</span></td>
                                                    <td><span>33.02</span></td>
                                                    <td><span>3k</span></td>
                                                    <td><span>12k</span></td>
                                                </tr>
                                                <tr class="color-light">
                                                    <td><span>02.</span></td>
                                                    <td>
                                                        <div class="product-wrapper d-flex align-items-center">
                                                            <a href="javascript:;" class="thumbnail">
                                                                <img src="static/picture/portfolio-07.jpg" alt="Nft_Profile">
                                                            </a>
                                                            <span>Wuality</span>
                                                        </div>
                                                    </td>
                                                    <td><span>550,000</span></td>
                                                    <td><span>33.02</span></td>
                                                    <td><span>1k</span></td>
                                                    <td><span>10k</span></td>
                                                </tr>
                                                <tr class="color-light">
                                                    <td><span>03.</span></td>
                                                    <td>
                                                        <div class="product-wrapper d-flex align-items-center">
                                                            <a href="javascript:;" class="thumbnail">
                                                                <img src="static/picture/portfolio-03.jpg" alt="Nft_Profile">
                                                            </a>
                                                            <span>Wuality</span>
                                                        </div>
                                                    </td>
                                                    <td><span>60,000</span></td>
                                                    <td><span>33.02</span></td>
                                                    <td><span>3k</span></td>
                                                    <td><span>10k</span></td>
                                                </tr>
                                                <tr class="color-light">
                                                    <td><span>04.</span></td>
                                                    <td>
                                                        <div class="product-wrapper d-flex align-items-center">
                                                            <a href="javascript:;" class="thumbnail">
                                                                <img src="static/picture/portfolio-04.jpg" alt="Nft_Profile">
                                                            </a>
                                                            <span>Wuality</span>
                                                        </div>
                                                    </td>
                                                    <td><span>7,50,000</span></td>
                                                    <td><span>31.02</span></td>
                                                    <td><span>3k</span></td>
                                                    <td><span>5k</span></td>
                                                </tr>
                                                <tr class="color-light">
                                                    <td><span>05.</span></td>
                                                    <td>
                                                        <div class="product-wrapper d-flex align-items-center">
                                                            <a href="javascript:;" class="thumbnail">
                                                                <img src="static/picture/portfolio-05.jpg" alt="Nft_Profile">
                                                            </a>
                                                            <span>Wuality</span>
                                                        </div>
                                                    </td>
                                                    <td><span>3,000</span></td>
                                                    <td><span>33.02</span></td>
                                                    <td><span>3k</span></td>
                                                    <td><span>10k</span></td>
                                                </tr>
                                                <tr class="color-light">
                                                    <td><span>06.</span></td>
                                                    <td>
                                                        <div class="product-wrapper d-flex align-items-center">
                                                            <a href="javascript:;" class="thumbnail">
                                                                <img src="static/picture/portfolio-06.jpg" alt="Nft_Profile">
                                                            </a>
                                                            <span>Wuality</span>
                                                        </div>
                                                    </td>
                                                    <td><span>30,000</span></td>
                                                    <td><span>21.02</span></td>
                                                    <td><span>1k</span></td>
                                                    <td><span>13k</span></td>
                                                </tr>
                                                <tr class="color-light">
                                                    <td><span>07.</span></td>
                                                    <td>
                                                        <div class="product-wrapper d-flex align-items-center">
                                                            <a href="javascript:;" class="thumbnail">
                                                                <img src="static/picture/portfolio-07.jpg" alt="Nft_Profile">
                                                            </a>
                                                            <span>Wuality</span>
                                                        </div>
                                                    </td>
                                                    <td><span>30,000</span></td>
                                                    <td><span>21.02</span></td>
                                                    <td><span>1k</span></td>
                                                    <td><span>13k</span></td>
                                                </tr>
                                                <tr class="color-light">
                                                    <td><span>08.</span></td>
                                                    <td>
                                                        <div class="product-wrapper d-flex align-items-center">
                                                            <a href="javascript:;" class="thumbnail">
                                                                <img src="static/picture/portfolio-08.jpg" alt="Nft_Profile">
                                                            </a>
                                                            <span>Wuality</span>
                                                        </div>
                                                    </td>
                                                    <td><span>30,000</span></td>
                                                    <td><span>21.02</span></td>
                                                    <td><span>1k</span></td>
                                                    <td><span>13k</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <div class="row">
                                <div class="col-12">
                                    <div class="box-table table-responsive">
                                        <table class="table rts-upcoming-projects">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <span>SL</span>
                                                    </th>
                                                    <th>
                                                        <span>Product</span>
                                                    </th>
                                                    <th>
                                                        <span>Volume</span>
                                                    </th>
                                                    <th>
                                                        <span>Floor Price</span>
                                                    </th>
                                                    <th>
                                                        <span>Owners</span>
                                                    </th>
                                                    <th>
                                                        <span>Items</span>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody class="ranking">
                                                <tr class="color-light">
                                                    <td><span>01.</span></td>
                                                    <td>
                                                        <div class="product-wrapper d-flex align-items-center">
                                                            <a href="javascript:;" class="thumbnail">
                                                                <img src="static/picture/portfolio-01.jpg" alt="Nft_Profile">
                                                            </a>
                                                            <span>Wuality</span>
                                                        </div>
                                                    </td>
                                                    <td><span>2,50,000</span></td>
                                                    <td><span>33.02</span></td>
                                                    <td><span>3k</span></td>
                                                    <td><span>12k</span></td>
                                                </tr>
                                                <tr class="color-light">
                                                    <td><span>02.</span></td>
                                                    <td>
                                                        <div class="product-wrapper d-flex align-items-center">
                                                            <a href="javascript:;" class="thumbnail">
                                                                <img src="static/picture/portfolio-07.jpg" alt="Nft_Profile">
                                                            </a>
                                                            <span>Wuality</span>
                                                        </div>
                                                    </td>
                                                    <td><span>550,000</span></td>
                                                    <td><span>33.02</span></td>
                                                    <td><span>1k</span></td>
                                                    <td><span>10k</span></td>
                                                </tr>
                                                <tr class="color-light">
                                                    <td><span>03.</span></td>
                                                    <td>
                                                        <div class="product-wrapper d-flex align-items-center">
                                                            <a href="javascript:;" class="thumbnail">
                                                                <img src="static/picture/portfolio-03.jpg" alt="Nft_Profile">
                                                            </a>
                                                            <span>Wuality</span>
                                                        </div>
                                                    </td>
                                                    <td><span>60,000</span></td>
                                                    <td><span>33.02</span></td>
                                                    <td><span>3k</span></td>
                                                    <td><span>10k</span></td>
                                                </tr>
                                                <tr class="color-light">
                                                    <td><span>04.</span></td>
                                                    <td>
                                                        <div class="product-wrapper d-flex align-items-center">
                                                            <a href="javascript:;" class="thumbnail">
                                                                <img src="static/picture/portfolio-04.jpg" alt="Nft_Profile">
                                                            </a>
                                                            <span>Wuality</span>
                                                        </div>
                                                    </td>
                                                    <td><span>7,50,000</span></td>
                                                    <td><span>31.02</span></td>
                                                    <td><span>3k</span></td>
                                                    <td><span>5k</span></td>
                                                </tr>
                                                <tr class="color-light">
                                                    <td><span>05.</span></td>
                                                    <td>
                                                        <div class="product-wrapper d-flex align-items-center">
                                                            <a href="javascript:;" class="thumbnail">
                                                                <img src="static/picture/portfolio-05.jpg" alt="Nft_Profile">
                                                            </a>
                                                            <span>Wuality</span>
                                                        </div>
                                                    </td>
                                                    <td><span>3,000</span></td>
                                                    <td><span>33.02</span></td>
                                                    <td><span>3k</span></td>
                                                    <td><span>10k</span></td>
                                                </tr>
                                                <tr class="color-light">
                                                    <td><span>06.</span></td>
                                                    <td>
                                                        <div class="product-wrapper d-flex align-items-center">
                                                            <a href="javascript:;" class="thumbnail">
                                                                <img src="static/picture/portfolio-06.jpg" alt="Nft_Profile">
                                                            </a>
                                                            <span>Wuality</span>
                                                        </div>
                                                    </td>
                                                    <td><span>30,000</span></td>
                                                    <td><span>21.02</span></td>
                                                    <td><span>1k</span></td>
                                                    <td><span>13k</span></td>
                                                </tr>
                                                <tr class="color-light">
                                                    <td><span>07.</span></td>
                                                    <td>
                                                        <div class="product-wrapper d-flex align-items-center">
                                                            <a href="javascript:;" class="thumbnail">
                                                                <img src="static/picture/portfolio-07.jpg" alt="Nft_Profile">
                                                            </a>
                                                            <span>Wuality</span>
                                                        </div>
                                                    </td>
                                                    <td><span>30,000</span></td>
                                                    <td><span>21.02</span></td>
                                                    <td><span>1k</span></td>
                                                    <td><span>13k</span></td>
                                                </tr>
                                                <tr class="color-light">
                                                    <td><span>08.</span></td>
                                                    <td>
                                                        <div class="product-wrapper d-flex align-items-center">
                                                            <a href="javascript:;" class="thumbnail">
                                                                <img src="static/picture/portfolio-08.jpg" alt="Nft_Profile">
                                                            </a>
                                                            <span>Wuality</span>
                                                        </div>
                                                    </td>
                                                    <td><span>30,000</span></td>
                                                    <td><span>21.02</span></td>
                                                    <td><span>1k</span></td>
                                                    <td><span>13k</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                            <div class="row">
                                <div class="col-12">
                                    <div class="box-table table-responsive">
                                        <table class="table rts-upcoming-projects">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <span>SL</span>
                                                    </th>
                                                    <th>
                                                        <span>Product</span>
                                                    </th>
                                                    <th>
                                                        <span>Volume</span>
                                                    </th>
                                                    <th>
                                                        <span>Floor Price</span>
                                                    </th>
                                                    <th>
                                                        <span>Owners</span>
                                                    </th>
                                                    <th>
                                                        <span>Items</span>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody class="ranking">
                                                <tr class="color-light">
                                                    <td><span>01.</span></td>
                                                    <td>
                                                        <div class="product-wrapper d-flex align-items-center">
                                                            <a href="javascript:;" class="thumbnail">
                                                                <img src="static/picture/portfolio-01.jpg" alt="Nft_Profile">
                                                            </a>
                                                            <span>Wuality</span>
                                                        </div>
                                                    </td>
                                                    <td><span>2,50,000</span></td>
                                                    <td><span>33.02</span></td>
                                                    <td><span>3k</span></td>
                                                    <td><span>12k</span></td>
                                                </tr>
                                                <tr class="color-light">
                                                    <td><span>02.</span></td>
                                                    <td>
                                                        <div class="product-wrapper d-flex align-items-center">
                                                            <a href="javascript:;" class="thumbnail">
                                                                <img src="static/picture/portfolio-07.jpg" alt="Nft_Profile">
                                                            </a>
                                                            <span>Wuality</span>
                                                        </div>
                                                    </td>
                                                    <td><span>550,000</span></td>
                                                    <td><span>33.02</span></td>
                                                    <td><span>1k</span></td>
                                                    <td><span>10k</span></td>
                                                </tr>
                                                <tr class="color-light">
                                                    <td><span>03.</span></td>
                                                    <td>
                                                        <div class="product-wrapper d-flex align-items-center">
                                                            <a href="javascript:;" class="thumbnail">
                                                                <img src="static/picture/portfolio-03.jpg" alt="Nft_Profile">
                                                            </a>
                                                            <span>Wuality</span>
                                                        </div>
                                                    </td>
                                                    <td><span>60,000</span></td>
                                                    <td><span>33.02</span></td>
                                                    <td><span>3k</span></td>
                                                    <td><span>10k</span></td>
                                                </tr>
                                                <tr class="color-light">
                                                    <td><span>04.</span></td>
                                                    <td>
                                                        <div class="product-wrapper d-flex align-items-center">
                                                            <a href="javascript:;" class="thumbnail">
                                                                <img src="static/picture/portfolio-04.jpg" alt="Nft_Profile">
                                                            </a>
                                                            <span>Wuality</span>
                                                        </div>
                                                    </td>
                                                    <td><span>7,50,000</span></td>
                                                    <td><span>31.02</span></td>
                                                    <td><span>3k</span></td>
                                                    <td><span>5k</span></td>
                                                </tr>
                                                <tr class="color-light">
                                                    <td><span>05.</span></td>
                                                    <td>
                                                        <div class="product-wrapper d-flex align-items-center">
                                                            <a href="javascript:;" class="thumbnail">
                                                                <img src="static/picture/portfolio-05.jpg" alt="Nft_Profile">
                                                            </a>
                                                            <span>Wuality</span>
                                                        </div>
                                                    </td>
                                                    <td><span>3,000</span></td>
                                                    <td><span>33.02</span></td>
                                                    <td><span>3k</span></td>
                                                    <td><span>10k</span></td>
                                                </tr>
                                                <tr class="color-light">
                                                    <td><span>06.</span></td>
                                                    <td>
                                                        <div class="product-wrapper d-flex align-items-center">
                                                            <a href="javascript:;" class="thumbnail">
                                                                <img src="static/picture/portfolio-06.jpg" alt="Nft_Profile">
                                                            </a>
                                                            <span>Wuality</span>
                                                        </div>
                                                    </td>
                                                    <td><span>30,000</span></td>
                                                    <td><span>21.02</span></td>
                                                    <td><span>1k</span></td>
                                                    <td><span>13k</span></td>
                                                </tr>
                                                <tr class="color-light">
                                                    <td><span>07.</span></td>
                                                    <td>
                                                        <div class="product-wrapper d-flex align-items-center">
                                                            <a href="javascript:;" class="thumbnail">
                                                                <img src="static/picture/portfolio-07.jpg" alt="Nft_Profile">
                                                            </a>
                                                            <span>Wuality</span>
                                                        </div>
                                                    </td>
                                                    <td><span>30,000</span></td>
                                                    <td><span>21.02</span></td>
                                                    <td><span>1k</span></td>
                                                    <td><span>13k</span></td>
                                                </tr>
                                                <tr class="color-light">
                                                    <td><span>08.</span></td>
                                                    <td>
                                                        <div class="product-wrapper d-flex align-items-center">
                                                            <a href="javascript:;" class="thumbnail">
                                                                <img src="static/picture/portfolio-08.jpg" alt="Nft_Profile">
                                                            </a>
                                                            <span>Wuality</span>
                                                        </div>
                                                    </td>
                                                    <td><span>30,000</span></td>
                                                    <td><span>21.02</span></td>
                                                    <td><span>1k</span></td>
                                                    <td><span>13k</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ranking of nft creators End -->


    <!-- start header area -->
    <!-- start Footer area -->
    <div class="rts-footer-area bg-shape-footer pt--120 rt_bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-12 mb_sm--30 ">
                    <div class="footer-left-wrapper">
                        <a href="#"><img src="static/picture/logo-02.svg" alt="Nft_logo" data-sal-delay="150" data-sal-duration="800" data-sal="slide-up"></a>
                        <p class="disc" data-sal-delay="150" data-sal-duration="1000" data-sal="slide-up">Quickly administrate open-source expertise principle-centered catalysts for change. Appropri enhance.</p>
                        <ul class="social-wrapper">
                            <li class="icon" data-sal-delay="150" data-sal-duration="800" data-sal="slide-up"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="icon" data-sal-delay="250" data-sal-duration="1000" data-sal="slide-up"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="icon" data-sal-delay="350" data-sal-duration="1200" data-sal="slide-up"><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li class="icon" data-sal-delay="450" data-sal-duration="1400" data-sal="slide-up"><a href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="footer-single-wized">
                        <h5 class="wized-title" data-sal-delay="150" data-sal-duration="600" data-sal="slide-up">Marketplace</h5>
                        <ul class="wizid-lists">
                            <li class="item" data-sal-delay="250" data-sal-duration="800" data-sal="slide-up"><a href="about.html">About</a></li>
                            <li class="item" data-sal-delay="350" data-sal-duration="1000" data-sal="slide-up"><a href="team.html">Our Team</a></li>
                            <li class="item" data-sal-delay="450" data-sal-duration="1200" data-sal="slide-up"><a href="team-single.html">Team Details</a></li>
                            <li class="item" data-sal-delay="550" data-sal-duration="1400" data-sal="slide-up"><a href="error.html">Error 404</a></li>
                            <li class="item" data-sal-delay="650" data-sal-duration="1600" data-sal="slide-up"><a href="cart.html">Cart Page</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 pl_lg--80">
                    <div class="footer-single-wized">
                        <h5 class="wized-title" data-sal-delay="150" data-sal-duration="600" data-sal="slide-up">Company</h5>
                        <ul class="wizid-lists">
                            <li class="item" data-sal-delay="150" data-sal-duration="600" data-sal="slide-up"><a href="wallet.html">Wallet</a></li>
                            <li class="item" data-sal-delay="350" data-sal-duration="1000" data-sal="slide-up"><a href="create.html">Create Page</a></li>
                            <li class="item" data-sal-delay="450" data-sal-duration="1200" data-sal="slide-up"><a href="login.html">Login Page</a></li>
                            <li class="item" data-sal-delay="550" data-sal-duration="1400" data-sal="slide-up"><a href="registration.html">Registration</a></li>
                            <li class="item" data-sal-delay="650" data-sal-duration="1600" data-sal="slide-up"><a href="check-out.html">Checkout</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="footer-single-wized">
                        <h5 class="wized-title" data-sal-delay="150" data-sal-duration="600" data-sal="slide-up">Services</h5>
                        <ul class="wizid-lists">
                            <li class="item" data-sal-delay="250" data-sal-duration="800" data-sal="slide-up"><a href="contact.html">Contact Us</a></li>
                            <li class="item" data-sal-delay="350" data-sal-duration="1000" data-sal="slide-up"><a href="shop.html">Shop Page</a></li>
                            <li class="item" data-sal-delay="450" data-sal-duration="1200" data-sal="slide-up"><a href="shop-single.html">Shop Details</a></li>
                            <li class="item" data-sal-delay="550" data-sal-duration="1400" data-sal="slide-up"><a href="collectors.html">Collectors</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right-area ptb--50 ptb_sm--20">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="copy-right">
                            <div class="copy-right-text">
                                <p class="rts-cp">Copyright &copy; 2022.Company name All rights reserved.<a target="_blank" href="https://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
                            </div>
                            <div class="copy-right-link">
                                <a href="about.html">About</a>
                                <a href="contact.html">Contact Us</a>
                                <a href="registration.html">Registration</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end Footer area -->
    <!-- ENd Header Area -->


    <div class="loadingpage">
        <div class="spinner"></div>
    </div>

    <!-- The cursor elements -->
    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>

    <!-- progress Back to top -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewbox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
        </svg>
    </div>
    <!-- progress Back to top End -->

    <!-- all scripts are hear -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/jquery-ui.min.js"></script>
    <script src="static/js/nice-select.js"></script>
    <script src="static/js/waypoint.js"></script>
    <script src="static/js/swiper.js"></script>
    <script src="static/js/count-down.js"></script>
    <script src="static/js/isotop.min.js"></script>
    <script src="static/js/counterup.min.js"></script>
    <script src="static/js/sal.min.js"></script>
    <script src="static/js/paper-core.js"></script>
    <script src="static/js/simplex-nois.js"></script>
    <script src="static/js/contact-form.js"></script>

    <script src="static/js/imageloded.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

    <!-- main js -->
    <script src="static/js/main.js"></script>
</body>

</html>