<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Genifty || Explore Single || - NFT Marketplace Template</title>
    <meta name="robots" content="noindex">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-style-mode" content="1"> <!-- 0 == light, 1 == dark -->

    <!-- Favicon -->
    
    <link rel="stylesheet" href="static/css/gordita.css">
    <link rel="stylesheet" href="static/css/fontawesome-pro-icons.css">
    <link rel="stylesheet" href="static/css/swiper.css">
    <link rel="stylesheet" href="static/css/unicons.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body class="rt_bg-secondary">

    <!-- start header area -->

    <div class="rts-header-area header-inner-one header-two header--sticky">
        <div class="container-header">
            <div class="row align-items-center ptb_sm--20 padding-controler-header">
                <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12 ">
                    <div class="header-left">
                        <a href="index.html" class="logo">
                            <img src="static/picture/logo-01.svg" alt="NFT_image">
                        </a>
                    </div>
                </div>
                <div class="col-xl-5 d-xl-block d-none">
                    <div class="main-menu-wrapepr">



                        <nav class="mainmenu-nav d-none d-xl-block">
                            <ul class="main-menu">
                                <li class="single-items">
                                    <a class="navmain" href="#">Home</a>
                                    <ul class="submenu">
                                        <li class="single"><a href="index.html">Home page - 01 <i class="feather-home"></i></a></li>
                                        <li class="single"><a href="index-two.html">Home page - 02<i class="feather-home"></i></a></li>
                                        <li class="single"><a href="index-three.html">Home page - 03<i class="feather-home"></i></a></li>
                                        <li class="single"><a href="index-four.html">Home page - 04<i class="feather-home"></i></a></li>
                                        <li class="single"><a href="index-five.html">Home page - 05<i class="feather-home"></i></a></li>
                                        <li class="single"><a href="index-six.html">Home page - 06<i class="feather-home"></i></a></li>
                                    </ul>
                                </li>
                                <li class="single-items">
                                    <a class="navmain" href="#">Pages</a>
                                    <ul class="submenu mega-menu pages">
                                        <li class="mega-menu-1">
                                            <ul class="mega-1">
                                                <li><a href="about.html">About Page<i class="feather-home"></i></a></li>
                                                <li><a href="team.html">Our Team<i class="feather-home"></i></a></li>
                                                <li><a href="team-single.html">Our Team Details<i class="feather-home"></i></a></li>
                                                <li><a href="error.html">Error 404<i class="feather-home"></i></a></li>
                                                <li><a href="ranking.html">Ranking Page<i class="feather-home"></i></a></li>
                                                <li><a href="collectors.html">Collectors<i class="feather-home"></i></a></li>
                                            </ul>
                                            <ul class="mega-1">
                                                <li><a href="wallet.html">Wallet<i class="feather-home"></i></a></li>
                                                <li><a href="create.html">Create Page<i class="feather-home"></i></a></li>
                                                <li><a href="login.html">Login Page<i class="feather-home"></i></a></li>
                                                <li><a href="registration.html">Registration Page<i class="feather-home"></i></a></li>
                                                <li><a href="activity.html">Activity<i class="feather-home"></i></a></li>
                                                <li><a href="author.html">Author<i class="feather-home"></i></a></li>
                                            </ul>
                                            <ul class="mega-1">
                                                <li><a href="shop.html">Shop Page<i class="feather-home"></i></a></li>
                                                <li><a href="shop-single.html">Shop Details<i class="feather-home"></i></a></li>
                                                <li><a href="cart.html">Cart Page<i class="feather-home"></i></a></li>
                                                <li><a href="check-out.html">Check Out<i class="feather-home"></i></a></li>
                                                <li><a href="faq.html">FAQ Page<i class="feather-home"></i></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="single-items">
                                    <a class="navmain" href="#">Explore</a>
                                    <ul class="submenu explore">
                                        <li class="single"><a href="explore-one.html">Explore One<i class="feather-home"></i></a></li>
                                        <li class="single"><a href="explore-two.html">Explore Two<i class="feather-home"></i></a></li>
                                        <li class="single"><a href="">Explore Single<i class="feather-home"></i></a></li>
                                    </ul>
                                </li>
                                <li class="single-items">
                                    <a class="navmain" href="#">Blog</a>
                                    <ul class="submenu blog">
                                        <li class="single"> <a href="blog.html">Our Blog</a></li>
                                        <li class="single"> <a href="blog-single.html">Blog single</a></li>
                                    </ul>
                                </li>
                                <li class="single-items off-arrow"><a class="single" href="contact.html">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-8 col-md-8 col-sm-12 justify-content-sm-center d-xsm-flex justify-content-sm-center d-xsm-flex">
                    <div class="header-right">
                        <div class="input-group d-none d-lg-block">
                            <i class="fal fa-search"></i>
                            <input type="text" placeholder="Search Collections">
                        </div>
                        <div class="setting-option rts-icon-list d-block d-lg-none">
                            <div class="icon-box search-mobile-icon">
                                <button><i class="far fa-search"></i></button>
                            </div>
                            <form id="header-search-1" action="#" method="GET" class="large-mobile-blog-search">
                                <div class="rts-search-mobile form-group">
                                    <button type="submit" class="search-button"><i class="far fa-search"></i></button>
                                    <input type="text" placeholder="Search ...">
                                </div>
                            </form>
                        </div>
                        <ul class="icons">
                            <li class="icon user"> <a href="author.html"><i class="far fa-user"></i></a></li>
                            <li class="icon cart-icon-header"> <a href="cart.html"><i class="far fa-shopping-bag"></i></a></li>
                        </ul>
                        <a id="connect-wallet" href="wallet.html" class="rts-btn btn-primary">Connect Wallet</a>
                        <div class="mobile-menu-bar d-block d-xl-none">
                            <div class="hamberger">
                                <button class="hamberger-button">
                                    <i class="fal fa-bars"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ENd Header Area -->

    <!-- start Mobile menue -->


    <!-- mobile menu start -->
    <div class="popup-mobile-menu">
        <div class="inner">
            <div class="header-top">
                <div class="logo logo-custom-css">
                    <a href="index.html"><img src="static/picture/logo-01.svg" alt="_logo"></a>
                </div>
                <div class="close-menu">
                    <button class="close-button">
                        <i class="fal fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- nav style Start -->
            <nav>
                <ul class="main-menu">
                    <li class="single-items rts-dropdown">
                        <a class="navmain" href="#">Home</a>
                        <ul class="submenu">
                            <li class="single"><a href="index.html">Home page - 01 <i class="feather-home"></i></a></li>
                            <li class="single"><a href="index-two.html">Home page - 02<i class="feather-home"></i></a></li>
                            <li class="single"><a href="index-three.html">Home page - 03<i class="feather-home"></i></a></li>
                            <li class="single"><a href="index-four.html">Home page - 04<i class="feather-home"></i></a></li>
                            <li class="single"><a href="index-five.html">Home page - 05<i class="feather-home"></i></a></li>
                            <li class="single"><a href="index-six.html">Home page - 06<i class="feather-home"></i></a></li>
                        </ul>
                    </li>
                    <li class="single-items rts-dropdown">
                        <a class="navmain" href="#">Pages</a>
                        <ul class="submenu pages">
                            <li><a href="about.html">About Page<i class="feather-home"></i></a></li>
                            <li><a href="team.html">Our Team<i class="feather-home"></i></a></li>
                            <li><a href="team-single.html">Our Team Details<i class="feather-home"></i></a></li>
                            <li><a href="error.html">Error 404<i class="feather-home"></i></a></li>
                            <li><a href="cart.html">Cart Page<i class="feather-home"></i></a></li>
                            <li><a href="ranking.html">Ranking Page<i class="feather-home"></i></a></li>
                            <li><a href="wallet.html">Wallet<i class="feather-home"></i></a></li>
                            <li><a href="create.html">Create Page<i class="feather-home"></i></a></li>
                            <li><a href="login.html">Login Page<i class="feather-home"></i></a></li>
                            <li><a href="registration.html">Registration Page<i class="feather-home"></i></a></li>
                            <li><a href="check-out.html">Check Out<i class="feather-home"></i></a></li>
                            <li><a href="activity.html">Activity<i class="feather-home"></i></a></li>
                            <li><a href="contact.html">Contact Us<i class="feather-home"></i></a></li>
                            <li><a href="shop.html">Shop Page<i class="feather-home"></i></a></li>
                            <li><a href="shop-single.html">Shop Details<i class="feather-home"></i></a></li>
                            <li><a href="collectors.html">Collectors<i class="feather-home"></i></a></li>
                            <li><a href="author.html">Author<i class="feather-home"></i></a></li>
                        </ul>
                    </li>
                    <li class="single-items rts-dropdown">
                        <a class="navmain" href="#">Explore</a>
                        <ul class="submenu explore">
                            <li class="single"><a href="explore-one.html">Explore One<i class="feather-home"></i></a></li>
                            <li class="single"><a href="explore-two.html">Explore Two<i class="feather-home"></i></a></li>
                        </ul>
                    </li>
                    <li class="single-items rts-dropdown">
                        <a class="navmain" href="#">Blog</a>
                        <ul class="submenu blog">
                            <li class="single"> <a href="blog.html">Our Blog</a></li>
                            <li class="single"> <a href="blog-single.html">Blog single</a></li>
                        </ul>
                    </li>
                    <li class="single-items off-arrow"><a class="navmain" href="contact.html">Contact</a></li>
                </ul>
            </nav>
            <!-- nav style hear End -->
        </div>
    </div>
    <!-- mobile menu end -->
    <!-- end mobile menue -->

    <!-- start BreadCrumb area -->
    <div class="rts-brad-crumb-area breadcrumb-image bg_image">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-inner ptb--130 pt_sm--80 pb_sm--80">
                        <h1 class="title" data-sal-delay="300" data-sal-duration="800" data-sal="slide-up">Explore Single</h1>
                        <div class="breadcrumb-list">
                            <a href="index.html" data-sal-delay="300" data-sal-duration="800" data-sal="slide-up">Home</a>
                            <span>/</span>
                            <a class="deactive" href="#" data-sal-delay="400" data-sal-duration="800" data-sal="slide-up">Pages</a>
                            <span>/</span>
                            <a class="active" href="#" data-sal-delay="500" data-sal-duration="800" data-sal="slide-up">Explore Single</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End BreadCrumb area -->


    <!-- expolore area start -->
    <div class="rts-explore-area rts-section-gapTop">
        <div class="container">
            <div class="row g-5">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 col-md-12">
                    <div class="explore-thumbnail">
                        <img src="static/picture/014.jpg" alt="Nft_details">
                    </div>
                </div>
                <div class="col-lg-6 col-lg-6 col-md-12 col-sm-12 col-12 pl--40 pl_lg-5 pl_md-0 pl_sm--0">
                    <div class="expo-cart-wrapper">
                        <h3 class="title">“Fantastic NFT's Business”</h3>
                        <div class="meata-option">
                            <div class="meta-left">
                                <span><i class="far fa-eye"></i></span>
                                <span class="heart"><i class="far fa-heart"></i></span>
                            </div>
                            <div class="meta-right">
                                <a href="#" class="share"><i class="far fa-share"></i></a>
                                <a href="#" class="multi-option"><i class="far fa-ellipsis-v"></i></a>
                            </div>
                        </div>
                        <div class="rts-client-info">
                            <div class="meta-info">
                                <div class="thumbnail">
                                    <img src="static/picture/collectors-01.png" alt="Nft_thumbnail">
                                </div>
                                <div class="info">
                                    <p class="desig">Owned by</p>
                                    <a href="#">
                                        <h6 class="title">Garraway Jone</h6>
                                    </a>
                                </div>
                            </div>
                            <div class="meta-info">
                                <div class="thumbnail">
                                    <img src="static/picture/collectors-02.png" alt="Nft_thumbnail">
                                </div>
                                <div class="info">
                                    <p class="desig">Owned by</p>
                                    <a href="#">
                                        <h6 class="title">Mr.Alamin Bali</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <p class="disc-pricing">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga unde repellendus veritatis id
                            atque aliquid ullam perferendis, recusandae esse labore?Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>
                        <div class="explore-single-pricing">
                            <div class="last-price explore-p">
                                <span>Current Price</span>
                                <h6 class="price">4.89 ETH = $12.246</h6>
                            </div>
                            <div class="count-down-timeer explore-p">
                                <div class="countdown" data-date="2023-12-09">
                                    <div class="countdown-container days">
                                        <span class="countdown-value days-bottom">457</span>
                                        <span class="countdown-heading days-top">Day</span>
                                    </div>
                                    <div class="countdown-container hours">
                                        <span class="countdown-value hours-bottom">13</span>
                                        <span class="countdown-heading hours-top">Hr's</span>
                                    </div>
                                    <div class="countdown-container minutes">
                                        <span class="countdown-value minutes-bottom">34</span>
                                        <span class="countdown-heading minutes-top">Min's</span>
                                    </div>
                                    <div class="countdown-container seconds">
                                        <span class="countdown-value seconds-bottom">06</span>
                                        <span class="countdown-heading seconds-top">Sec</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bit-history">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Bit history</button>
                                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Active Bids</button>
                                    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Details</button>
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                    <div class="single-person-bids-wrapper">
                                        <!-- single -->
                                        <div class="bid-details-single">
                                            <img src="static/picture/collectors-01.png" alt="Nft_profile">
                                            <div class="details">
                                                <p class="accepted">Bid accepted 1 ETH by ayoub</p>
                                                <span class="date-time">
                                                    28/06/2021, 12:08
                                                </span>
                                            </div>
                                        </div>
                                        <!-- single -->
                                        <!-- single -->
                                        <div class="bid-details-single">
                                            <img src="static/picture/collectors-02.png" alt="Nft_profile">
                                            <div class="details">
                                                <p class="accepted">Bid accepted 1 ETH by ayoub</p>
                                                <span class="date-time">
                                                    28/06/2021, 12:08
                                                </span>
                                            </div>
                                        </div>
                                        <!-- single -->
                                        <!-- single -->
                                        <div class="bid-details-single">
                                            <img src="static/picture/collectors-03.png" alt="Nft_profile">
                                            <div class="details">
                                                <p class="accepted">Bid accepted 1 ETH by ayoub</p>
                                                <span class="date-time">
                                                    28/06/2021, 12:08
                                                </span>
                                            </div>
                                        </div>
                                        <!-- single -->
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                    <p class="disc-tab-in">
                                        No Active Bids Available
                                    </p>
                                </div>
                                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                    <p class="disc-tab-in">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia expedita
                                        laboriosam blanditiis adipisci eos nisi vel praesentium sit assumenda, velit
                                        omnis ipsam eaque doloribus iste delectus aperiam ea culpa recusandae libero
                                        molestias voluptates quia quasi.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="button-wrapper mt--30">
                            <a class="rts-btn btn-primary radious-5" href="#">Place-Bid</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- expolore area end -->

    <!-- Live tranding items -->
    <div class="live-tranding-area tranding_bg-shape rts-section-gap rt_bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title-area text-center">
                        <span class="sub-title">
                            Your NFTs
                        </span>
                        <h3 class="title">Related Product</h3>
                    </div>
                </div>
            </div>
            <div class="row mt--50">
                <div class="col-12">
                    <div class="swiper-container single mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <!-- single slider -->
                                <div class="trending-items_wrapper">
                                    <div class="thumbnail">
                                        <a href="shop-single.html"><img src="static/picture/product-01.png" alt="Nft_product"></a>
                                    </div>
                                    <div class="product-discription">
                                        <div class="product-left">
                                            <h5 class="title">
                                                Sales25
                                            </h5>
                                            <span class="deg">
                                                @Sailor
                                            </span>
                                            <h5 class="price">$1053.25</h5>
                                        </div>
                                        <div class="product-right">
                                            <a href="shop-single.html" class="rts-btn btn-secondary radious-5">Place-Bid</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- single slider End-->
                            </div>
                            <div class="swiper-slide">
                                <!-- single slider -->
                                <div class="trending-items_wrapper">
                                    <div class="thumbnail">
                                        <a href="shop-single.html"><img src="static/picture/product-02.png" alt="Nft_product"></a>
                                    </div>
                                    <div class="product-discription">
                                        <div class="product-left">
                                            <h5 class="title">
                                                Athestics VR
                                            </h5>
                                            <span class="deg">
                                                @Kolis
                                            </span>
                                            <h5 class="price">$153.25</h5>
                                        </div>
                                        <div class="product-right">
                                            <a href="shop-single.html" class="rts-btn btn-secondary radious-5">Place-Bid</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- single slider End-->
                            </div>
                            <div class="swiper-slide">
                                <!-- single slider -->
                                <div class="trending-items_wrapper">
                                    <div class="thumbnail">
                                        <a href="shop-single.html"><img src="static/picture/product-03.png" alt="Nft_product"></a>
                                    </div>
                                    <div class="product-discription">
                                        <div class="product-left">
                                            <h5 class="title">
                                                Sports VR
                                            </h5>
                                            <span class="deg">
                                                @Bajuban
                                            </span>
                                            <h5 class="price">$103.25</h5>
                                        </div>
                                        <div class="product-right">
                                            <a href="shop-single.html" class="rts-btn btn-secondary radious-5">Place-Bid</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- single slider End-->
                            </div>
                            <div class="swiper-slide">

                                <!-- single slider -->
                                <div class="trending-items_wrapper">
                                    <div class="thumbnail">
                                        <a href="shop-single.html"><img src="static/picture/product-01.png" alt="Nft_product"></a>
                                    </div>
                                    <div class="product-discription">
                                        <div class="product-left">
                                            <h5 class="title">
                                                Metaverse VR
                                            </h5>
                                            <span class="deg">
                                                @Sajid
                                            </span>
                                            <h5 class="price">$253.25</h5>
                                        </div>
                                        <div class="product-right">
                                            <a href="shop-single.html" class="rts-btn btn-secondary radious-5">Place-Bid</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- single slider End-->
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Live tranding items -->



    <!-- start Footer area -->
    <div class="rts-footer-area bg-shape-footer pt--120 rt_bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-12 mb_sm--30 ">
                    <div class="footer-left-wrapper">
                        <a href="#"><img src="static/picture/logo-02.svg" alt="Nft_logo" data-sal-delay="150" data-sal-duration="800" data-sal="slide-up"></a>
                        <p class="disc" data-sal-delay="150" data-sal-duration="1000" data-sal="slide-up">Quickly administrate open-source expertise principle-centered catalysts for change. Appropri enhance.</p>
                        <ul class="social-wrapper">
                            <li class="icon" data-sal-delay="150" data-sal-duration="800" data-sal="slide-up"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="icon" data-sal-delay="250" data-sal-duration="1000" data-sal="slide-up"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="icon" data-sal-delay="350" data-sal-duration="1200" data-sal="slide-up"><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li class="icon" data-sal-delay="450" data-sal-duration="1400" data-sal="slide-up"><a href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="footer-single-wized">
                        <h5 class="wized-title" data-sal-delay="150" data-sal-duration="600" data-sal="slide-up">Marketplace</h5>
                        <ul class="wizid-lists">
                            <li class="item" data-sal-delay="250" data-sal-duration="800" data-sal="slide-up"><a href="about.html">About</a></li>
                            <li class="item" data-sal-delay="350" data-sal-duration="1000" data-sal="slide-up"><a href="team.html">Our Team</a></li>
                            <li class="item" data-sal-delay="450" data-sal-duration="1200" data-sal="slide-up"><a href="team-single.html">Team Details</a></li>
                            <li class="item" data-sal-delay="550" data-sal-duration="1400" data-sal="slide-up"><a href="error.html">Error 404</a></li>
                            <li class="item" data-sal-delay="650" data-sal-duration="1600" data-sal="slide-up"><a href="cart.html">Cart Page</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 pl_lg--80">
                    <div class="footer-single-wized">
                        <h5 class="wized-title" data-sal-delay="150" data-sal-duration="600" data-sal="slide-up">Company</h5>
                        <ul class="wizid-lists">
                            <li class="item" data-sal-delay="150" data-sal-duration="600" data-sal="slide-up"><a href="wallet.html">Wallet</a></li>
                            <li class="item" data-sal-delay="350" data-sal-duration="1000" data-sal="slide-up"><a href="create.html">Create Page</a></li>
                            <li class="item" data-sal-delay="450" data-sal-duration="1200" data-sal="slide-up"><a href="login.html">Login Page</a></li>
                            <li class="item" data-sal-delay="550" data-sal-duration="1400" data-sal="slide-up"><a href="registration.html">Registration</a></li>
                            <li class="item" data-sal-delay="650" data-sal-duration="1600" data-sal="slide-up"><a href="check-out.html">Checkout</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="footer-single-wized">
                        <h5 class="wized-title" data-sal-delay="150" data-sal-duration="600" data-sal="slide-up">Services</h5>
                        <ul class="wizid-lists">
                            <li class="item" data-sal-delay="250" data-sal-duration="800" data-sal="slide-up"><a href="contact.html">Contact Us</a></li>
                            <li class="item" data-sal-delay="350" data-sal-duration="1000" data-sal="slide-up"><a href="shop.html">Shop Page</a></li>
                            <li class="item" data-sal-delay="450" data-sal-duration="1200" data-sal="slide-up"><a href="shop-single.html">Shop Details</a></li>
                            <li class="item" data-sal-delay="550" data-sal-duration="1400" data-sal="slide-up"><a href="collectors.html">Collectors</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right-area ptb--50 ptb_sm--20">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="copy-right">
                            <div class="copy-right-text">
                                <p class="rts-cp">Copyright &copy; 2022.Company name All rights reserved.<a target="_blank" href="https://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
                            </div>
                            <div class="copy-right-link">
                                <a href="about.html">About</a>
                                <a href="contact.html">Contact Us</a>
                                <a href="registration.html">Registration</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end Footer area -->

    <div class="loadingpage">
        <div class="spinner"></div>
    </div>

    <!-- The cursor elements -->
    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>

    <!-- progress Back to top -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewbox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
        </svg>
    </div>
    <!-- progress Back to top End -->

    <!-- all scripts are hear -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/jquery-ui.min.js"></script>
    <script src="static/js/nice-select.js"></script>
    <script src="static/js/waypoint.js"></script>
    <script src="static/js/swiper.js"></script>
    <script src="static/js/count-down.js"></script>
    <script src="static/js/isotop.min.js"></script>
    <script src="static/js/counterup.min.js"></script>
    <script src="static/js/sal.min.js"></script>
    <script src="static/js/paper-core.js"></script>
    <script src="static/js/simplex-nois.js"></script>
    <script src="static/js/contact-form.js"></script>

    <script src="static/js/imageloded.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

    <!-- main js -->
    <script src="static/js/main.js"></script>
</body>

</html>